@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*------------
        Header
    ------------*/
    header .current_task
    {
        width: 680px;
    }


    header .menu_btn
    {
        display: flex;
    }


    header .menu
    {
        position: absolute;
        top: 100%;
        left: 0;

        display: none;
        flex-direction: column;

        width: 200px;
        margin-top: 8px;
        padding: 8px;

        border-radius: 12px;
        background: rgba(237, 244, 255, .80);
        box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .12);

        gap: 4px;
                backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }


    header .menu .divider
    {
        display: block;
    }


    header .menu .menu_item
    {
        width: 100%;
    }


    header .menu .menu_item a,
    header .menu .menu_item .btn
    {
        font-family: var(--font_family);
        line-height: 24px;

        min-height: 32px;
        padding: 4px;

        transition: background .2s linear;
        letter-spacing: .5px;
        text-transform: none;

        color: rgba(0, 0, 0, .87);
        border-radius: 4px;
        background: none;
        box-shadow: none;

        gap: 8px;
    }


    header .menu .menu_item a .icon,
    header .menu .menu_item .btn .icon
    {
        color: #2a62a9;
    }


    header .menu .menu_item a:hover,
    header .menu .menu_item a.active
    header .menu .menu_item .btn:hover,
    header .menu .menu_item .btn.active
    {
        background: rgba(47, 94, 160, .11);
    }



    /*------------
        Weight
    ------------*/
    .weight .right_data
    {
        width: 560px;
        height: calc(100vh - 224px);
    }


    .weight .right_data .head .title
    {
        font-size: 14px;
        line-height: 20px;
    }


    .weight .right_data .get_all_btn
    {
        font-size: 11px;

        padding: 2px 11px;
    }


    .weight .right_data .item
    {
        font-size: 10px;

        padding: 10px 4px 4px;
    }


    .weight .right_data .item .icons
    {
        gap: 2px;
    }


    .weight .right_data .item .icons > *.text
    {
        height: 18px;
        padding: 2px 4px;
    }


    .weight .right_data .item .thumb
    {
        height: 56px;
    }



    .weight .interaction_data
    {
        top: 84px;
        left: 20px;

        width: 510px;
    }



    .weight .total_data
    {
        bottom: 140px;
        left: 15.5%;
    }



    /*-------------
        Exhaust
    -------------*/
    .exhaust .right_data
    {
        bottom: 137px;

        width: 560px;
        max-height: calc(100vh - 221px);
    }


    .exhaust .right_data .scroll
    {
        max-height: 256px;
    }


    .exhaust .right_data .head .title
    {
        font-size: 14px;
        line-height: 20px;
    }


    .exhaust .right_data .get_all_btn
    {
        font-size: 11px;

        padding: 2px 11px;
    }


    .exhaust .right_data .row > *
    {
        width: calc(20% - 20px);
    }


    .exhaust .right_data .item
    {
        font-size: 10px;

        padding: 10px 4px 4px;
    }


    .exhaust .right_data .item .icons
    {
        gap: 2px;
    }


    .exhaust .right_data .item .icons > *.text
    {
        height: 18px;
        padding: 2px 4px;
    }


    .exhaust .right_data .item .thumb
    {
        height: 56px;
    }



    /*-------------------
        Chromatograph
    -------------------*/
    .chromatograph .main_data
    {
        top: 155px;
        left: 24px;
    }



    /*------------------
        Bottom panel
    ------------------*/
    .bottom_panel .data
    {
        min-height: 100px;
        padding: 10px 12px;
    }


    .bottom_panel .filter .title
    {
        margin-bottom: 10px;
    }


    .bottom_panel .filter .field + .field
    {
        margin-top: 10px;
    }


    .bottom_panel .item
    {
        font-size: 10px;

        padding: 10px 4px 4px;
    }


    .bottom_panel .item .icons.column
    {
        gap: 2px;
    }


    .bottom_panel .item .icons > *.text
    {
        height: 18px;
        padding: 2px 4px;
    }


    .bottom_panel .item .thumb
    {
        height: 54px;
    }



    /*-----------------------
        Select room modal
    -----------------------*/
    .select_room_modal .close_btn
    {
        top: 44px;
        right: 50px;
    }


    .select_room_modal .scroll
    {
        padding: 60px 50px;
    }


    .select_room_modal .title
    {
        margin-bottom: 44px;
    }


    .select_room_modal .items > * + *
    {
        margin-top: 20px;
    }


    .select_room_modal .items a
    {
        padding-bottom: 22px;
    }



    /*----------------------------
        PopUp - Periodic table
    ----------------------------*/
    #periodic_table_modal
    {
        width: 1004px;
        padding: 52px 64px 64px;
    }
}
